
*
{
    margin:0;
    padding: 0;
}
body
{
    font-family: 'segoe ui light';
}
.header
{
    background-image: url(../images/slider-02.jpg);
    background-position: center center ;
    background-size: cover;
    color:#fff;
    text-align: center;
    height: 100vh;
}
.header h1
{
    font-weight: 900;
    font-size: 72px;
    color: #ff305b;
}
.inner1
{
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav
{
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 70px;   
    display: flex;
    align-items:center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 7410;
}
.nav .logo h2
{
    /* display: flex;
    justify-content: center;
    align-items:center;   */
    font-size: 2rem;
    font-weight: bolder;
    color:#ff305b;
    margin: 10px 0px;

}
.nav  ul
{
    display: flex;
    justify-content: space-around;
}
.nav  ul li 
{
    list-style: none;
    padding: 10px;
    margin: 5px ;
    margin-top: 20px;
}
.nav .cointer
{
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav  ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 130%;
    transition-property:color ;
    transition-duration: 0.2s;
}
.nav ul li a:hover
{
    color: #ff305b;
}
.about
{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    /* height: 85vh; */
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: start;
    font-size: 120%;
}
.text-part
{
    width: 50%;
}
.img-part
{
    width: 40%;
    border: solid #555555 7px;
    border-radius:5px ;
}
img
{
    width: 100%;
}
.inner-img
{
    position: relative;
    top: 20px;
    left: 20px;
    overflow: hidden;
    border-radius: 5px;
}
.layer
{
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    transition-property:top;
    transition-duration: 0.6s;
    background: rgba(0, 0, 0, 0.57) ;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color:white ;
}
.inner-img:hover .layer
{
    top:0;
}
.about .text-part ul li
{
    list-style: none;
    margin: 10px;
}
.about .text-part .ul-1
{
    width: 50%;
}
.about .text-part .ul-2
{
    width: 50%;
}
.about .text-part .text-two
{
    display: flex;
    flex-flow:row wrap;  
}
.about .text-part span
{
    font-weight: 600;
}
.about-btn
{
    margin: 15px;
}
.about-btn .btn
{
    margin: 5px;
    padding: 12px 15px;
    background: #ff305b;
    border-radius: 5px;
    color: #fff;
    border: #ff305b 1px solid;
}

.about .i
{
    background: #ff305b;
    margin: 12px 5px;
    width: 5px;
    height: 32px;
}
.text-one
{
    display: flex;
    flex-flow: wrap row;

} 

.about .layer i
{
    color: #f1f1f1;
    transition-property:color ;
    transition-duration:0.2s;
}

.about .layer i:hover
{
    color: #ff305b;
}




/* new section */


.Services
{

    background: #f1f1f1;
    text-align: center;
    font-size:100% ;
    font-weight: bolder;
    padding: 50px;


}
.Services .parts
{
    width: 90%;
    margin: auto;
    display: flex;
}
.Services .parts .part p
{
    color: #555555;
}
.Services .parts .part
{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property:background-color , box-shadow  ;
    transition-duration:0.3s, 0.3s ;
    padding:30px 15px ;
    
}
.Services .part:hover
{
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.2);
}
.Services h2
{
    font-size: 2rem;
    font-weight: 900;
}
.Services h3
{
    font-size: 1.5rem;
    font-weight: bolder;
}
.Services .inner-the-line 
{
    width: 15%;
    height: 1px;
    background-color: #ff305b;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.Services .inner-the-line::before
{
    content: "";
    width: 40%;
    height: 1px;
    background-color: #ff305b;
    margin: auto;
    position: absolute;
    margin: -8px; 
}

.Services .inner-the-line::after
{
    content: "";
    width: 40%;
    height: 1px;
    background-color: #ff305b;
    margin: auto;
    position: absolute;
    margin: 8px;
}

.Services .the-line 
{
    margin: 20px 10px 40px 10px;
}
.Services .parts .part .icon
{
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Services .parts i
{
    font-size: 1.5rem;
    padding: 30px;
    color: #ff305b;
    transition-property:font-size;
    transition-duration:0.3s ;
}
.Services .part:hover i
{
    font-size: 2rem;
}


    /* new-section */





.protfolio > h2
{
    text-align: center;
    margin:30px ;
    font-weight: 900;
    font-size: 300%;
}


.protfolio .inner-the-line 
{
    width: 15%;
    height: 1px;
    background-color: #ff305b;
    margin: 40px auto;
    position: relative;
    display: flex;
    justify-content: center;   
}
.protfolio .inner-the-line::before
{
    content: "";
    width: 40%;
    height: 1px;
    background-color: #ff305b;
    margin: auto;
    position: absolute;
    margin: -8px; 
}

.protfolio .inner-the-line::after
{
    content: "";
    width: 40%;
    height: 1px;
    background-color: #ff305b;
    margin: auto;
    position: absolute;
    margin: 8px;
}

.protfolio .links a
{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 2%;
    color: #333333;
    transition-property: color;
    transition-duration: 0.3s;
}
.protfolio .links
{
    text-align: center;
    margin: 30px auto;
    
}

.protfolio .links a:hover
{
    color: #ff305b;
}

.protfolio .product
{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
    align-content:space-around ;
}
.protfolio .product .img 
{
    width: 32.5%;
    margin:5px 0px ;
    position: relative;
}
.protfolio .product .img img
{
    width: 100%;
}

.protfolio .product .img .layer
{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: end;
    align-items: end;
    transition-property: opacity;
    transition-duration: 0.5s ;
    opacity: 0;
}

.protfolio .product .img .layer a
{
    margin: 12px;
    color: #ff305b;
    font-size: 120%;
}

.protfolio .product .img:hover .layer
{
    opacity: 1;
}

.protfolio .cointer-nav
{
    width: 100%;
    background-color: #f1f1f1;
    padding: 40px;
    margin: 50px 0px;
    font-weight: bolder;
}
.protfolio .cointer-nav h4
{
    font-size: 1.6rem;
    font-weight: 900;
}
.protfolio .cointer-nav i
{
    color: #ff305b;
    font-size: 140%;
    padding: 10px;
}
.protfolio .cointer-nav p
{
    color: #555555;
}
.protfolio .nav-protfolio
{
    width: 90%;
    margin: auto;
    padding: 50px;
    display: flex; 
    justify-content:space-evenly;
    text-align: center;
}



    /* new-section */



.testimonial > h2
{
    text-align: center;
    margin:30px ;
    font-weight: 900;
    font-size: 300%;

}
.testimonial .container img
{
    border-radius:50% ;
    width: 25%;
    margin-right:10px ;
    z-index: 2;
}
.testimonial .container
{
    width: 60%;
    margin: 20px auto;
    background-color: #f1f1f1;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 50px;
    position: relative;
    overflow: hidden;
    border-radius:5px ;
}
.testimonial .container a
{
    text-decoration: none;
    margin: 10px 1px;
    color:#777777;
    font-weight: bolder;
}
.testimonial .container p
{
    color: #555555;
    font-weight: bolder;
}
.testimonial .container h3
{
    font-weight: bolder;
    font-size: 200%;
    color: #333333;
}
.testimonial .container .icon
{
    margin:20px 5px ;
    color: rgb(255, 217, 0);
}

.testimonial .container .the-shape
{
    width: 300px;
    height: 300px;
    background-color: #ff305b;
    position:absolute;
    left:-150px ;
    top: -150px;
    transform: rotate(45deg);   
}


.testimonial .inner-the-line 
{
    width: 15%;
    height: 1px;
    background-color: #ff305b;
    margin: 40px auto;
    position: relative;
    display: flex;
    justify-content: center;   
}
.testimonial .inner-the-line::before
{
    content: "";
    width: 40%;
    height: 1px;
    background-color: #ff305b;
    margin: auto;
    position: absolute;
    margin: -8px; 
}
.testimonial .inner-the-line::after
{
    content: "";
    width: 40%;
    height: 1px;
    background-color: #ff305b;
    margin: auto;
    position: absolute;
    margin: 8px;
}

.testimonial
{
    background-color: #ffffff;
    padding: 50px;
}

    /* new-section */

.blog > h2
{
    text-align: center;
    margin:40px ;
    font-weight: 900;
    font-size: 300%;
}

    .blog .inner-the-line 
    {
        width: 15%;
        height: 1px;
        background-color: #ff305b;
        margin: 40px auto;
        position: relative;
        display: flex;
        justify-content: center;   
    }
    .blog .inner-the-line::before
    {
        content: "";
        width: 40%;
        height: 1px;
        background-color: #ff305b;
        margin: auto;
        position: absolute;
        margin: -8px; 
    }
    .blog .inner-the-line::after
    {
        content: "";
        width: 40%;
        height: 1px;
        background-color: #ff305b;
        margin: auto;
        position: absolute;
        margin: 8px;
    }


.blog
{
    background-color: #f1f1f1;
    padding: 20px;
    margin: 50px 0px;
}

.blog .item-countier
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.blog .item-countier .item
{
    width: 32%;
    margin: 15px 10px ;
    background-color: #fff;
    display: flex;
    flex-direction: column;

}
.blog .item-countier .item .inner-item
{
    margin:   0px  15px;
}
.blog .item-countier .item .inner-item p
{
    font-weight: 650;
}
.item img
{
    width: 100%;
}
.item .inner-item a h4
{
    font-size: 140%;
    font-weight: bolder;
    margin: 5px;
    transition-property: color;
    transition-duration: 0.25s;

}

.item a
{
    text-decoration: none;
    color: #333;
    margin: 5px;

}
.item .inner-item .first-p 
{
    letter-spacing: 1px;
    margin: 10px 0px;
    color: #555555;
    font-size: 100%;
    margin-top: 10px;

}

.item .inner-item a
{
    transition-property: color;
    transition-duration: 0.25s;
}

.item .inner-item a h4:hover , .item .inner-item a:hover
{
    color: #ff305b;
}



    /* new-section */


    .contact > h2
{
    text-align: center;
    margin:40px ;
    font-weight: 900;
    font-size: 300%;
}

    .contact .inner-the-line 
    {
        width: 15%;
        height: 1px;
        background-color: #ff305b;
        margin: 40px auto;
        position: relative;
        display: flex;
        justify-content: center;   
    }
    .contact .inner-the-line::before
    {
        content: "";
        width: 40%;
        height: 1px;
        background-color: #ff305b;
        margin: auto;
        position: absolute;
        margin: -8px; 
    }
    .contact .inner-the-line::after
    {
        content: "";
        width: 40%;
        height: 1px;
        background-color: #ff305b;
        margin: auto;
        position: absolute;
        margin: 8px;
    }

.contact
{
    padding: 10px 0px 50px 0px;   
}

.contact .forms
{
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.contact .forms .rows 
{
    width: 100%;
    margin: 30px 0px ;
}
.contact .forms .first-row form
{
    display: flex;
    justify-content: space-between;
}
.contact .forms .first-row input
{
    width: 45%;
    height: 50px;
    border-radius: 5px;
    border: #a94442 1px solid;
}

.contact .forms .saceand-row form
{
    display: flex;
    justify-content: start;
}

.contact .forms .saceand-row input
{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: #a94442 1px solid;

}
.contact .forms .third-row textarea
{
    width: 120%;
    border-radius: 5px;
    border: #a94442 1px solid;
}

.contact  button
{
    padding: 10px 20px;
    background-color: #ff305b;
    color: #fff;
    border-radius: 4px;
    border: #ff305b 1px solid;
    margin-top: 10px;
}



    /* new-section */


footer
{
    background-color: #333333;
    padding: 50px;
    text-align: center;
    color: #fff;
    font-size: 120%;
    font-weight: 550;
}
footer  a
{
    color: #fff;
}
footer p a
{
    color: #ff305b;
    text-decoration: none;

}

footer .links a
{
    padding: 15px;
    transition-property: color;
    transition-duration: 0.2s;
}
footer .links a:hover
{
    color: #ff305b;
}
footer .links
{
    margin: 10px;
}

    /* end */